@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 16% 89%;
    --foreground: 220 10% 11%;
    --card: 45 20% 96%;
    --card-foreground: 220 10% 11%;
    --card-2: 45 16% 92%;
    --muted: 45 12% 92%;
    --muted-foreground: 90 4% 43%;
    --primary: 30 76% 43%;
    --primary-2: 32 82% 33%;
    --primary-foreground: 40 40% 97%;
    --border: 44 14% 82%;
    --input: 44 14% 82%;
    --ring: 30 76% 43%;
    --ok: 148 46% 34%;
    --ok-soft: 140 34% 89%;
    --warn: 38 82% 36%;
    --warn-soft: 42 60% 87%;
    --bad: 6 62% 45%;
    --bad-soft: 8 60% 90%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 14% 9%;
    --foreground: 50 12% 91%;
    --card: 222 12% 12%;
    --card-foreground: 50 12% 91%;
    --card-2: 222 11% 15%;
    --muted: 222 11% 15%;
    --muted-foreground: 90 4% 55%;
    --primary: 35 74% 53%;
    --primary-2: 38 78% 63%;
    --primary-foreground: 30 40% 10%;
    --border: 222 11% 19%;
    --input: 222 11% 19%;
    --ring: 35 74% 53%;
    --ok: 148 44% 54%;
    --ok-soft: 150 30% 13%;
    --warn: 42 66% 55%;
    --warn-soft: 42 40% 13%;
    --bad: 8 72% 66%;
    --bad-soft: 8 40% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "ss01";
  }
  .tnum {
    font-variant-numeric: tabular-nums;
  }
}
