@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 15%;
    --card-2: 210 20% 97%;
    --muted: 210 20% 96%;
    --muted-foreground: 215 10% 42%;
    --primary: 213 60% 30%;
    --primary-2: 213 62% 24%;
    --primary-foreground: 0 0% 100%;
    --border: 214 20% 88%;
    --input: 214 20% 88%;
    --ring: 213 60% 30%;
    --ok: 150 55% 30%;
    --ok-soft: 150 40% 93%;
    --warn: 36 80% 34%;
    --warn-soft: 42 70% 93%;
    --bad: 4 62% 42%;
    --bad-soft: 6 60% 94%;
    --radius: 0.375rem;
  }

  .dark {
    --background: 216 25% 10%;
    --foreground: 210 20% 92%;
    --card: 216 22% 13%;
    --card-foreground: 210 20% 92%;
    --card-2: 216 20% 16%;
    --muted: 216 20% 16%;
    --muted-foreground: 214 10% 62%;
    --primary: 213 65% 60%;
    --primary-2: 213 70% 70%;
    --primary-foreground: 216 40% 8%;
    --border: 216 16% 24%;
    --input: 216 16% 24%;
    --ring: 213 65% 60%;
    --ok: 150 45% 55%;
    --ok-soft: 150 30% 14%;
    --warn: 40 60% 55%;
    --warn-soft: 40 40% 14%;
    --bad: 6 65% 62%;
    --bad-soft: 6 40% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .tnum {
    font-variant-numeric: tabular-nums;
  }
}
